.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.Header {
  position: relative;
  width: 100%;
  z-index: 9999;
  background: #fff;
  border-top: 2px solid #1155a7;
  border-bottom: 1px solid #ddd;

}

.Header .inner {
  display: flex;
  line-height: 90px;
  justify-content: space-between;

}

/* .Header .inner>* {
  flex: 1;
} */

.Header h1 {
  display: inline-block;
}

.Header h1 img {
  height: 30px;
  width: auto;
}

.Gnb {
  margin: 0 auto;
}

.Gnb>ul {
  display: flex;
  gap: 40px;

}



.Gnb ul li {
  position: relative;
  font-size: 16px;
  font-weight: 500;
}


.Gnb ul li:hover {
  color: #1155a7;
}

.Gnb>ul>li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  display: inline-block;
  height: 5px;
  width: auto;
  background: #1155a7;
  transition: 0.5s;
  border-radius: 50%;
}

.Gnb>ul>li:hover::before {
  width: 5px;
  transition: 0.5s;
}



.Gnb>ul>li:hover::after {
  width: 100%;
  transition: 0.5s;
}






.Header .top_service {
  display: flex;
  gap: 40px;
  margin: 0 0 0 40px;
}

.Header .top_service .project li {
  display: inline-block;
  font-weight: 300;
  font-size: 15px;
}

.Header .top_service .project li~li::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background: var(--gc);
  margin: 0 10px;
}

.Header .top_service strong {
  cursor: pointer;
}



.Header .top_service .lang {
  position: relative;
  float: left;
  margin: 0 20px 0 0;
}

.Header .top_service .lang .arrow {
  font-size: 7px;
  vertical-align: 0.3em;
}

.Header .top_service .lang.on .arrow {
  transform: rotate(180deg);
}

.Header .top_service .lang .lang_box {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.45;
  border: 2px solid var(--mc);
  background: var(--lc);
  padding: 20px 35px;
}

.Header .top_service .lang.on .lang_box {
  display: block;
}

/* .Header .top_service .top_search {
  position: relative;
} */

.Header .top_search .search_box {
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  left: 0px;
  line-height: 1;
  border: 1px solid var(--gc);
  background: var(--lc);
  padding: 30px 50px;
  width: 100%;
  background: #444;
  text-align: center;
}

.Header .top_search.on .search_box {
  display: block;
}

.Header .top_search .search_box input[type="text"] {
  font-size: 20px;
  width: 450px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--dc);
}

.Header .top_search .search_box button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
}

.Header .top_search .search_box::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 60px;
  width: 20px;
  height: 20px;
  background: var(--lc);
  border-left: 1px solid var(--gc);
  border-top: 1px solid var(--gc);
  transform: rotate(45deg);
}





/* ........ */



.MainVisual .main01 {
  height: calc(100vh - 300px);
  background: url(../public/assets/img/main02.jpg) no-repeat center center/cover;
}



/* ................ */


.Menu {
  padding: 100px 0;
}

.Menu h2 {
  font-size: 27px;
  font-weight: 700;
  color: #1155a7;
  margin: 0 30px 30px 0;
}

.Menu .baro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 4px solid #ddd;

}

.Menu .baro div {
  border: 4px solid #ddd;
  padding: 15px 10px;
  text-align: center;
}

/* ....... */

.Subpage {
  padding: 100px 0;
}

.Subpage h2 {
  font-size: 27px;
  font-weight: 700;
  color: #1155a7;
  margin: 0 30px 30px 0;

}

.Subpage h2::after {
  content: "";
  display: inline-block;
  z-index: 0;
  width: 100%;
  height: 1px;
  background-color: #e8ebef;
}

.Subpage p {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.4;
}

/* 
..... */


.accordion {
  max-width: 400px;
  margin: 100px auto 0;
  border-radius: 3px;
  background: #f1f1f1;
}

.accordion-visible {
  background: #7177ca;
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: 1px solid #474d9b;
  ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.accordion-visible span {
  padding: 15px 0;
  font-size: 20px;
}

.accordion-visible img {
  width: 20px;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.accordion-visible img.active {
  transform: rotate(0deg)
}

.accordion-visible h2 {
  font-size: 20px;
}

.accordion-toggle {
  height: 0px;
  font-size: 18px;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
  color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.animated {
  opacity: 1;
  transition:
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;
}

.accordion-toggle p {
  margin: 0;
  padding: 22px 15px;
  pointer-events: none;
  line-height: 1.3;
}