.Wrapper:before {
  opacity: 1;
}

.Wrapper:before {
  content: "";
  opacity: 1;
  position: fixed;
  right: 60px;
  top: 0;
  z-index: 999;
  width: 1px;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.2);
}

.TopHeader {
  border-top: 2px solid #004c86;
  ;
}


.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.cbtn {
  display: inline-block;
  padding: 15px 25px;
  border: 1px solid var(--mc);
  color: var(--mc);
  font-size: 13px;
  background: #ffffff;
}

.cbtn::after {
  content: "\e93e";
  font-family: xeicon;
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 10px;
  vertical-align: 1px;
}

.csc {
  position: relative;
  padding: 100px 0;
}

.csc h2 {
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-align: center;
}

.csc p {
  font-size: 15px;
  margin: 0 0 40px 0;
  text-align: center;
}

.TopBanner {
  background: var(--mc);
  color: var(--lc);
  overflow: hidden;
  height: 155px;
}

.TopBanner.on {
  height: 0;
  transition: 0.5s;
}

.TopBanner .inner {
  padding: 50px 0;
}

.TopBanner i {
  position: absolute;
  top: 50px;
  right: 0;
  font-size: 30px;
}

.TopBanner h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.TopBanner span {
  font-weight: 300;
  color: var(--sc)
}

.Header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.Header .hd_wrap {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  color: var(--lc);
  line-height: 100px;
  transition: 0.5s;
}

.Header.on .hd_wrap {
  background: var(--lc);
  color: var(--dc);
  line-height: 80px;
}


.Header .hd_wrap:hover {
  background: var(--lc);
  color: var(--dc);
}

.Header h1 {
  position: absolute;
  top: 0;
  left: 70px;
  font-size: 0;
  line-height: 100px;
}

.Header .hd_wrap h1 a {
  display: inline-block;
  font-size: 0;
  width: 90px;
  height: 27px;
  background: url(/public/assets/img/logo.svg) no-repeat;
  vertical-align: middle;
}


.Header.on .hd_wrap h1 a {
  background: url();
}

.Header .top_service {
  position: absolute;
  top: 0;
  right: 70px;
}

.Gnb>ul {
  display: flex;
  gap: 50px;
}

.Gnb ul li {
  position: relative;
  font-size: 16px;
  font-weight: 500;
}


.Gnb ul li:hover {
  color: #1155a7;
}

.Gnb>ul>li::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  display: inline-block;
  height: 5px;
  width: auto;
  background: #1155a7;
  transition: 0.5s;
  border-radius: 50%;
}

.Gnb>ul>li:hover::before {
  width: 5px;
  transition: 0.5s;
}


.Header .top_service {
  display: flex;
  gap: 40px;
}



.Header .top_service strong {
  cursor: pointer;
}

.Header .top_service strong:hover {
  color: #008850;
}

.Header .top_service strong.on {
  color: #008850;
}

.Header .top_service .lang {
  position: relative;
  float: left;
  margin: 0 20px 0 0;
}

.Header .top_service .lang .arrow {
  font-size: 7px;
  vertical-align: 0.3em;
}

.Header .top_service .lang.on .arrow {
  transform: rotate(180deg);
}

.Header .top_service .lang .lang_box {
  display: none;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.45;
  border: 2px solid var(--mc);
  background: var(--lc);
  color: #444444;
  padding: 20px 35px;
}

.Header .top_service .lang.on .lang_box {
  display: block;
}

.Header .top_service .top_search {
  position: relative;
}

.Header .top_search .search_box {
  display: none;
  position: absolute;
  top: 80px;
  right: -65px;
  line-height: 1;
  border: 1px solid var(--gc);
  background: var(--lc);
  padding: 30px 50px;
  width: 600px;
  text-align: center;
}

.Header .top_search.on .search_box {
  display: block;
}

.Header .top_search .search_box input[type="text"] {
  font-size: 20px;
  width: 450px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--dc);
}

.Header .top_search .search_box button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 30px;
}

.Header .top_search .search_box::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 60px;
  width: 20px;
  height: 20px;
  background: var(--lc);
  border-left: 1px solid var(--gc);
  border-top: 1px solid var(--gc);
  transform: rotate(45deg);
}

.MainVisual .main01 {
  height: calc(100vh - 20px);
  background: url(../public/assets/img/main01.jpg) no-repeat center center/cover;
}